#header
    %p{:id => "date_header"}
    / #= Date.today().strftime("%B %d (%A)")
    #add_task Add Task

#task_area
    %ul{:id => "sortable"}
        - @tasks.each do |task|  
            - if task.completed_at
                %li{:id => "task_#{task.id}", :class => "task", :task_id => task.id}
                    = check_box task, :completed, :class => "task_checkbox", :checked => "checked"
                    = best_in_place task, :name, :type => :input, :task_id => task.id, :style => "text-decoration: line-through;"
                    = label nil, "X", :class => "delete_label", :task_id => task.id
            -else 
                %li{:id => "task_#{task.id}", :class => "task", :task_id => task.id}
                    = check_box task, :completed, :class => "task_checkbox"
                    = best_in_place task, :name, :type => :input, :task_id => task.id
                    = label nil, "X", :class => "delete_label", :task_id => task.id                

#template
    %li{:id => "task_template", :class => "task"}
        = check_box nil, nil, :class => "task_checkbox"
        %span{ :class => "best_in_place", :id => "best_in_place_task_X_name", "data-url" => "/tasks/X", "data-object" => "task", "data-attribute" => "name", "data-type" => "input"}
        = label nil, "X", :class => "delete_label", :task_id => ""#task.id